html {
  scroll-behavior: smooth;
}
/*---------------------------
--------Header Start---------
---------------------------*/
header {
  background-color: yellow; /*Temporal*/
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 996;
}
.header-title {
  text-align: center;
  font-size: 2em;
  padding-top: 10px;
}
/*------Header End----------*/

/*---------------------------
--------Main Start-----------
----------------------------*/
#links-container {
  background-color: rgba(192, 192, 192, 0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 80%;
  z-index: 996;
  overflow-y: auto;
}
.navegation-links {
  flex: 1;
  font-size: 2em;
  text-decoration: none;
  color: black;
}
.navegation-links:hover,
.coler {
  color: white;
  width: 100%;
  text-align: center;
  background-color: black;
}
.navegation-links:active {
  border-right: 2px solid red;
  border-left: 2px solid red;
  border-radius: 25%;
  color: black;
}

.sections-container {
  min-height: 700px;
  border: 1px solid red; /*Temporal*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sections-container .appear {
  transition: transform 0.5s ease-in;
  transform: translateX(0);
}
.disappear {
  transition: transform 0.5s ease;
  transform: translateX(-100%);
}

@media screen and (min-width: 720px) {
  #links-container {
    width: 65%;
  }
}

@media screen and (min-width: 1020px) {
  #links-container {
    width: 50%;
  }
}
/*---------clock------------*/
#section1 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}
/* #section1 h2 { */
.section-title {
  font-size: 3em;
  padding: 1em auto;
  flex: 1;
  text-align: center;
}
.sections-container > :not(.section-title) {
  flex: 1;
}
.btn-container {
  flex: 1;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn-container button {
  padding: 1em;
}
.clockshow {
  flex: 3;
  font-size: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.clockshow p {
  border-bottom: 1px solid black;
}
.show-img {
  max-width: 100%;
}
@media screen and (min-width: 1020px) {
  .show-img {
    max-height: 70%;
  }
}
/*--------keyword events--------------*/
.stage {
  display: flex;
  min-height: 50vh;
  background-color: gray;
  flex: 2;
  width: 100%;
}
.ball {
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: yellow;
}
/*----------countdown-------------------*/
.count-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count-para {
  font-size: 2.5em;
}
/*-----------arrow---------------------*/
.arrowUp {
  position: fixed;
  bottom: 5%;
  right: 15%;
  width: 70px;
  height: 70px;
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
  background-color: yellow;
  border-radius: 50%;
  visibility: hidden;
}
.arrowUp > a {
  color: black;
}
.arrowAp {
  opacity: 1;
  transition: opacity 0.5s ease;
  visibility: visible;
}
#section4 > p {
  flex: 1;
  font-size: 2em;
  padding: 1em;
}
/*----------------dark mode-----------------*/
.dark-theme-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: yellow;
  color: black;
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}
.dark-theme-btn:hover {
  background-color: black;
  color: yellow;
}
.dark-mode {
  background-color: black;
  color: yellow;
}
/*------------------responsive-----------*/
#section5 {
  align-items: center;
}
.responsive-container {
  flex: 1;
}
/*----------responsive tester------------*/
#section6 form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**************************Red Detection*************/
.online,
.offline {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #1b5e20;
  color: #fff;
}
.offline {
  background-color: #b71c1c;
}
/**************************Search Filter*************/

#section11 .cards {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card {
  background-color: gray;
  color: yellow;
  transition: all 0.3s ease-out;
}
.card img {
  width: 100%;
  height: auto;
}
.card figcaption {
  padding: 1rem;
}
.filter {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  order: 1;
}

/**************************Slider*****************/
.slider {
  position: relative;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}
.slider-slides {
  position: relative;
  height: 400px;
}
.slider-slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}
.slider-slide img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: 50% 0;
}
.active {
  opacity: 1;
  visibility: visible;
}
.slider-btns {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 3em;
  font-weight: bold;
}
.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid #000;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}
.slider a:hover {
  color: #4d4d4d;
}
/*---------Scrollspy-----------*/
@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 4rem auto;
    grid-template-areas:
      "header header"
      "main panel";
  }
  main {
    grid-area: main;
  }
  header {
    grid-area: header;
    height: 100%;
  }
  #links-container {
    grid-area: panel;
    position: sticky;
    left: 0;
    right: 0;
    transform: translateX(0);
    width: 100%;
    top: 4rem;
    align-items: stretch;
    text-align: center;
  }
  .navegation-links {
    font-size: 1.5em;
  }
  .btn-menu {
    display: none;
  }
  .arrowUp {
    right: initial;
    left: calc(4.25rem + 1vh);
    bottom: 1%;
  }
}

/*-----------------Form----------------*/
.contact-form {
  --form-ok-color: green;
  --form-error-color: red;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.contact-form > * {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: 1 rem auto;
}
.contact-form-loader {
  display: flex;
  justify-content: center;
}
.contact-form textarea {
  resize: none;
}
.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.contact-form input,
.contact-form textarea {
  font-size: 1.5rem;
  font-family: sans-serif;
}
.contact-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}
.contact-form *::placeholder {
  color: #000;
}
.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}
.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}
.contact-form-error {
  /* margin-top: 1rem; */
  font-size: 80%;
  background-color: var(--form-error-color);
  color: white;
  transition: all 800ms ease;
  text-align: center;
}

.none {
  display: none;
}
.is-active {
  display: block;
  animation: show-message 1s 1 normal ease-out both;
}
@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
/*------Main End------------*/

/*----------------------------
--------Footer Start----------
----------------------------*/
.btn-menu {
  /* border: 1px solid yellow; */
  width: 70px;
  height: 70px;
  position: fixed;
  right: 5%;
  bottom: 5%;
  font-size: 4em;
  cursor: pointer;
  background-color: yellow;
  border-radius: 50%;
}
.btn-menu-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transform-style: preserve-3d;
}
.btn-inner-movement {
  transform: rotateX(180deg);
}
.btn-menu-front,
.btn-menu-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding-top: 5px;
  border-radius: 50%;
}

.btn-menu-back {
  transform: rotateX(180deg);
}
/*------Footer End----------*/
