/*---------------------------
--------Header Start---------
---------------------------*/
.title {
  background-color: yellow;
  text-align: center;
  margin: 0;
}
/*------Header End----------*/

/*---------------------------
--------Main Start-----------
----------------------------*/

/*------Main End------------*/

/*----------------------------
--------Footer Start----------
----------------------------*/

/*------Footer End----------*/
